<br><h2>ABOUT US</h2>
<div class="container">
<p>
  Not nessecerily all the local shops have a good user friendly
  website yet or easy to allocate their specific products via
  search engines.
</p>
<p>We are  a platform for local shops and seller to upload their
  products and availablity of their stocks with their competetive
  price and location of the shop.
</p>
<p>
No more hasstle to go around the shopping centres or shops around
looking for specific item.
</p>
<p>
  You are as a user and buyer of a product, Basicly search for a
  specific product to see if it's available in the local shops and
  get the location of the shop to go and pick your item's up.
</p>
</div>
